<h2>Albums</h2>

<div id="album-wrapper">
  <% @albums.each do |album| %>

  <div class="album">
  <img class="album_cover" src="/images/album_covers/<%= album.artwork %>" />
    <h3><%= album.title %></h3>
    <p>By: <%= album.artist.name %></p>
    <p>Genre: <%= album.genre.type %></p>
    <p>Buy Price: £ <%= album.buy_price %></p>
    <p>Sell Price: £ <%= album.sell_price %></p>
    <p>Mark Up: <%= album.mark_up.round(2) %> % </p>
    <p>Quantity in Stock: <%= album.quantity %></p>
    <p>Stock Level: <label style="color: <%= album.getProperColor %>"><%= album.stock_level %></label></p>
    <p></p>
  </div>
  
<% end %>
</div>
